<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISPSService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.227.29.217:8080/MESWCF/MESService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISPSService"
                contract="XGLWeb.ISPSService" name="BasicHttpBinding_ISPSService" />
        </client>
    </system.serviceModel>
</configuration>