<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
    <!--<add name="DataEntities" connectionString="metadata=res://*/DataEntities.csdl|res://*/DataEntities.ssdl|res://*/DataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.118;initial catalog=MES;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DataEntities" connectionString="metadata=res://*/DataEntities.csdl|res://*/DataEntities.ssdl|res://*/DataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BK7NEQLD\SQLEXPRESS;initial catalog=MES;persist security info=True;user id=sa;password=lf1989218;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="I.MES.Channel.WCF.JsonService">
				<endpoint binding="webHttpBinding" contract="I.MES.Channel.WCF.IJsonService" />
			</service>
			<service name="I.MES.Channel.WCF.BaseService">
				<!--
        <endpoint binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceBase"
          name="wsHttpBinding" contract="I.MES.Channel.WCF.IServiceBase"
          listenUriMode="Explicit">
        </endpoint>
        -->
				<endpoint binding="basicHttpBinding" bindingConfiguration="basicHttpBindingCfg"
				  name="endpointBasicHttp" contract="I.MES.Channel.WCF.IServiceBase" />

			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" >
			<serviceActivations>
				<add relativeAddress="JsonService.svc" service="I.MES.Channel.WCF.JsonService" factory="System.ServiceModel.Activation.WebScriptServiceHostFactory"/>
			</serviceActivations>
		</serviceHostingEnvironment>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBindingCfg" sendTimeout="00:10:00" maxBufferSize="2147483647"
				  maxReceivedMessageSize="2147483647" transferMode="Streamed"
				  useDefaultWebProxy="false">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BasicHttpBinding_IEquipService" maxBufferSize="2147483647"
				  maxReceivedMessageSize="2147483647" useDefaultWebProxy="false">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BasicHttpBinding_ISPSService" />
				<binding name="endpointBasicHttp" />
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="webBinding" useDefaultWebProxy="false" crossDomainScriptAccessEnabled="true" />
			</webHttpBinding>
		</bindings>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
