<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="I.MES.Client.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingCfg" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" transferMode="Streamed"
          useDefaultWebProxy="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10133/BaseService.svc" binding="basicHttpBinding"
        bindingConfiguration="basicHttpBindingCfg" contract="ChannelWCF.IServiceBase"
        name="endpointBasicHttp" />
     <!--<endpoint address="http://10.226.3.115/MESService/BaseService.svc" binding="basicHttpBinding"
        bindingConfiguration="basicHttpBindingCfg" contract="ChannelWCF.IServiceBase"
        name="endpointBasicHttp" />-->
    </client>
  </system.serviceModel>
  <userSettings>
    <I.MES.Client.UI.Properties.Settings>
      <setting name="HeartBeatIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
    </I.MES.Client.UI.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key ="Log" value="Z:\"/>
    <add key ="Back" value="Y:\"/>
    <add key ="False" value="X:\"/>
  </appSettings>
</configuration>
