<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSection" type="I.MES.Tools.CustomSection, I.MES.Tools" />
  </configSections>
  <CustomSection>
    <add key="FlexTime" value="2016-12-20 11:03:59.000"></add>
    <add key="DataRowCount" value="10"></add>
    <add key="RollupCount" value="10"></add>
    <add key="Columns" value="G_FlexTime|G_SeqOrderNo|G_BoxSerialNo|G_BriefDesc"></add>
    <add key="ColumnWith" value="300|400|100|600"></add>
    <add key="FontSize" value="20"></add>
  </CustomSection>
</configuration>