<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<ProdFeed>
		<Printer>
			<add key="joe" value="打印机"/>
			<add key="joe2" value="打印机2"/>
		</Printer>
	</ProdFeed>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEquipService" />
        <binding name="BasicHttpBinding_ISPSService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:8733/Design_Time_Addresses/I.EquipService.Service/EquipService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEquipService"
          contract="EquipService.IEquipService" name="BasicHttpBinding_IEquipService" />-->
     
      <!--烟台正式服务器-->
      <!--<endpoint address="http://10.231.3.115/EquipService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEquipService"
          contract="EquipService.IEquipService" name="BasicHttpBinding_IEquipService" />
      <endpoint address="http://10.231.3.115/MESSERVICE/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISPSService"
          contract="XGLWeb.ISPSService" name="BasicHttpBinding_ISPSService" />-->
      <!--郑州正式服务器-->
      <!--<endpoint address="http://10.233.3.115/EquipService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEquipService"
          contract="EquipService.IEquipService" name="BasicHttpBinding_IEquipService" />
      <endpoint address="http://10.233.3.115/MESSERVICE/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISPSService"
          contract="XGLWeb.ISPSService" name="BasicHttpBinding_ISPSService" />-->
    </client>
  </system.serviceModel>
</configuration>